.contnt{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-self: flex-start;

}
.child1{
    height: 250px;
    width: 200px;
    border: 2px solid red;
}